/* google fonts montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

/* settings */
:root{
    --white: #fff;
    --gray-light: #ECF4FF;
    --gray-middle: #E4E7EE;
    --gray-dark: #6C757D;
    --blue: #0D63F3;
    --black: #1E1E1E;
    --gradient: linear-gradient(to left, #4D5EF6, #F64D4D);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--black);
    background: var(--gray-light);
}
.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 5px;
}
a{
    text-decoration: none;
    color: var(--black);
}

/* navbar */
nav{
    width: 100%;
    height: 70px;
    box-shadow: 0 0 5px 2px var(--gray-middle);
}
header{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-left,
.nav-middle,
.nav-right{
    display: flex;
    align-items: center;
    width: 31%;
    justify-content: space-between;
}
.nav-logo{
    height: 30px;
}
.nav-logo img{
    height: 100%;
}
.nav-catalog span{
    position: relative;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.nav-catalog{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 8px;
    background: var(--gradient);
    color: var(--white);
}

.nav-middle{
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--gray-middle);
    overflow: hidden;
}
.nav-middle input{
    flex: 1;
    display: flex;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
}
.nav-search-btn{
    width: 60px;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 18px;
    height: 100%;
}
.nav-icon{
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background: var(--gray-light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--blue);
    margin-left: 30px;
}
.login-btn{
    margin-left: 30px;
    padding: 0 15px;
    height: 40px;
    border-radius: 8px;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
/* carusel style */
.slider-me{
    margin-top: 40px;
    margin-bottom: 40px;
}
.slide-me{
    width: 100%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.slide-me-200{
    height: 200px;
}
.slide-me-300{
    height: 300px;
}
.slide-me-400{
    height: 400px;
}
.slide-me-500{
    height: 500px;
}
.slide-me img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}
.slide-me h1,
.slide-me p{
    margin-left: 50px;
    color: var(--white);
}
.slide-me h1{
    margin-top: 50px;
}
.carusel-dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--gradient);
    margin-top: 15px;
}
.slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--gradient);
    cursor: pointer;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.slide-arrow:hover{
    opacity: .7;
}
.slide-arrow-right {
    right: -50px;
}
.slide-arrow-left {
    left: -50px;
}
/* title */
.title{
    margin-top: 20px;
}
/* category */
.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.category{
    width: 12%;
    min-width: 50px;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    padding: 10px;
}
.category-image{
    width: 100%;
    height: 80%;
}
.category-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.category-name{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: var(--black);
}
.category-all-btn
{
    display: flex;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    background: var(--white);
    border-radius: 10px;
}
/* products */
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.product{
    width: 20%;
    overflow: hidden;
    min-width: 200px;
    flex: 1;
    border-radius: 10px;
    background: var(--white);
    position: relative;
    padding: 20px;
}
.product-image{
    width: 100%;
    height: 250px;
}
.product-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-name{
    margin-top: 5px;
    font-weight: 500;
}
.product-quantity{
    margin-top: 10px;
    color: var(--gray-dark);
    font-weight: 400;
}
.product-buys{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.product-btn{
    background: var(--blue);
    border-radius: 10px;
    color: var(--white);
    padding: 6px 20px;
}
.product-cart{
    font-size: 20px;
    color: var(--gray-dark);
    cursor: pointer;
}
.product-tags{
    position: absolute;
    top: 10px;
}
/* brands */
.brands{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.brand{
    width: 16%;
    min-width: 180px;
    height: 120px;
    background: var(--white);
    padding: 10px;
    border-radius: 10px;
    flex: 1;
}
.brand img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
